{% load static %}

<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <Title>MQTT 테스트 . .</Title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel = "stylesheet" type = "text/css" href = "{% static 'bootstrap.min.css' %}">
        <link rel = "stylesheet" type = "text/css" href = "{% static 'style.css' %}">

        <!-- 전등 켜고/ 끄고 를 위해 필요한 링크들 . . -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        {% block style %}{% endblock style %}
    </head>
    <body>
        <!--navbar.html을 include 하여 불러옴-->
        {% include 'navbar.html' %}
        <!--공통 템플릿-->
        <!--블럭 내에만 뭐가 들어갈지 신경쓰면 된다-->
        <div class = "container my-3">
            {% block content %}{% endblock content %}
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src = "{% static 'bootstrap.min.js' %}"></script>
        
        <!-- Delete -->
        {% block script %}{% endblock script %}
    </body>
</html>